.footer {
    padding: 40px 250px 0px 250px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.link-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.link-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-section li {
    margin-bottom: 14px;
}

.section-title {
    font-weight: 1000;
    cursor: pointer;
}

.section-subtitle {
    font-weight: 500;
    color: #cccccc;
    transition: 0.3s all;
    cursor: pointer;
}

.section-subtitle:hover {
    color: #ffffff;
}

.divider {
    border-color: #767676;
}

.info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #cccccc;
    gap: 50px;
}

.info-section p {
    margin: 5px;
}

.info-app {
    display: flex;
    gap: 5px;
}

.app-link {
    height: 37px;
    cursor: pointer;
    transition: 0.2s all;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
}

.bottom-links {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 40px;
}

.bottom-links a {
    color: #cccccc;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: 0.3s all;
    cursor: pointer;
}

.bottom-links a:hover {
    color: #ffffff;
}

.bottom-social-media {
    display: flex;
    gap: 16px;
}

.social-media {
    margin-top: 40px;
    height: 20px;
    cursor: pointer;
}
