.footer {
    padding: 40px 250px 0px 250px;
    background-color: #000000;
    color: #ffffff;
}

.link-section {
    display: flex;
    justify-content: space-between;
}

.link-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-section li {
    margin-bottom: 14px;
}

.section-title {
    font-weight: 1000;
    cursor: pointer;
}

.section-subtitle {
    font-weight: 500;
    color: #cccccc;
    transition: 0.3s all;
    cursor: pointer;
}

.section-subtitle:hover {
    color: #ffffff;
}
