.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px 2px 30px;
    font-family: sans-serif;
    background-color: #0f1011;
    color: #ffffff;
}

.search-section {
    display: flex;
    gap: 5px;
    align-items: center;
}

.search-input {
    font-size: 1.1rem;
    background-color: #262626;
    border: transparent;
    border-radius: 8px;
    height: 2.5rem;
    width: 250px;
    padding-left: 1rem;
    outline: none;
    color: #cccccc;
    transition: 0.3s all;
}

.search-input:hover {
    background-color: #333333;
}

.search-input:focus {
    background-color: #515151;
}

.cart-icon {
    color: #cccccc;
    cursor: pointer;
}